# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.py[codz]
*$py.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environments
.envrc
.venv
env/
ENV/
env.bak/
venv.bak/

# Build / Packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/

# Test / Coverage
.tox/
.nox/
.coverage
.cache
pytest_cache/
.hypothesis/

# Django / Flask
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache/

# IDE / Editor settings
.vscode/
.pytype/
.pyre/
.mypy_cache/
.pybuilder/

# Misc
.Python
scrapy/
docs/_build/
site/
